@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/*reset*/
* {margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;} /*부모속성받기*/
a {text-decoration: inherit; color: inherit;}
li { list-style: none;}

/*layout*/
body {  font-family: "Noto Sans KR", sans-serif; font-size: 15px;}
.wrap {width: 100%; margin:0 auto; position: relative;}

/*header*/
header {width: 100%; padding-top: 30px; position: fixed; z-index: 100; transition: all 0.5s;}
.innerHeader {height: 80px; padding: 0 80px;}
.innerHeader .logo {width: 170px; height: 60px; float: left; margin-right: 180px;} 
.innerHeader .logo a {display: block; width: 100%; height: 100%; position: relative;}
.innerHeader .logo a img {width: 100%; position: absolute; top: 0; left: 0;}
.innerHeader .logo a img:nth-child(2){opacity: 0;}

.innerHeader .introTxt {float: left; text-transform: uppercase; color: white; line-height: 70px;}
.innerHeader .menuOpen {float: right; display: block; color: #fff; font-size:16px; margin-top: 20px; font-weight: bold;}
.innerHeader .menuOpen span {margin-left: 15px; font-size: 33px; display: inline-block; vertical-align: middle; margin-top: -6px;}


/*fixHeader*/
header.on {padding: 20px 0 0; transition: all 0.5s;}
header:before { content: ''; width: 100%; height: 0; background: #222; position: absolute; top:0; z-index: -1; transition: all 0.3s;}
header.on:before {height: 100%; border-bottom: 1px solid #2c2c2c; transition: all 0.5s;}
header.on .innerHeader .logo a img:nth-child(2) {opacity: 1; transition: all 0.3s;}


/*gnb*/
.gnb {padding: 70px 100px; background: #000; height: 100vh; color: #666; position: absolute; right: -100%; top:0; z-index: 200; box-sizing: border-box;
     transition: all 0.8s;}
/*햄버거버튼. 클릭하면 오른쪽에서 나타나도록(슬라이드인, 열림상태)*/
.gnb.on { right: 0; transition: all 0.8s;}

.gnb .close {font-size: 40px; color: #fff; float: right; display: block;}
.gnb ul { float: left; margin-right: 200px;}
.gnb ul li a { display: block; font-size: 40px; font-weight: bold; line-height: 1.7; transition: all 0.3s;}
.gnb ul li:first-child a, .gnb ul li:hover { color: #fff; transition: all 0.5s;}



/*visual*/
.visual {}
.visual .slide li {position: relative; width: 100%; height: 100vh; background: #222; }
.visual .slide li img { position: absolute; right: 0; bottom: 0; width: 100%;}
.visual .slide li:nth-child(3) img {top: 0;} /*반응형시 3번째 이미지 짤려서 위로 올림*/
.visual .slide li .txt { position: absolute; left: 10%; top:50%; color: #fff; font-size: 18px; transform: translateY(-50%);}
.visual .slide li .txt h3 { font-size: 64px; margin: 30px 0;}
.visual .slide li .txt a {display: inline-block;}
.visual .slide li .txt a span { font-size: 14px; margin-left: 5px;}
.visual .slide li .scroll { position: absolute; left:50px; bottom: 10%; transform: rotate(-90deg); color: #ccc; font-weight: bold;}

/*visual slick-화살표 위치 지정*/
.slick-arrow {position: absolute; right: 0px; bottom: 0px; width: 60px; height: 60px; line-height: 60px; background: #fff;
              z-index: 20; text-indent: -9999px; border:none;}
.slick-arrow:after {content: '<'; position: absolute; width: 100%; height: 100%; color: #888; font-size: 20px;
                   left: 0; top: 0; text-indent: 0px; font-weight: 300; transition: all 0.2s;}
                    /*위에서 -9999px로 밖으로 보냈으니 0으로 바꿔 다시 나타나게 해야함*/
.slick-arrow.slick-prev { bottom: 60px;}
.slick-arrow.slick-next:after { content: '>';}

/*hover*/
.slick-arrow:hover { cursor: pointer; background: #ccc; transition: all 0.5s;}
.slick-arrow:hover:after { font-size: 28px; color: #333; transition: all 0.2s;}

/*이미지 슬라이드 글 모션*/
.slick-active .txt p {animation-name: txt1; animation-duration: 0.8s;}
@keyframes txt1 {
    0% {opacity: 0; transform: rotateX(180deg) translateY(-150px)}
    20% {opacity: 0; transform: rotateX(180deg) translateY(-150px)}  /*중간치도 0%랑 똑같이 줘야 부드럽게 적용됨.*/
    100% {opacity: 1; transform: rotateX(0) translateY(0)}
}


.slick-active .txt a {animation-name: txt2; animation-duration: 0.8s;}
@keyframes txt2 {
    0% {opacity: 0; transform: rotateX(180deg) translateY(150px)}
    20% {opacity: 0; transform: rotateX(180deg) translateY(-50px)}  /*중간치도 0%랑 똑같이 줘야 부드럽게 적용됨.*/
    100% {opacity: 1; transform: rotateX(0) translateY(0)}
}

.slick-active .txt h3 {animation-name: txt3; animation-duration: 0.7s;}
@keyframes txt3 {
    0% {transform:translateX(0)}
    40% {transform:translateX(-50px)}  /*중간치도 0%랑 똑같이 줘야 부드럽게 적용됨.*/
    100% {transform:translateX(0)}
}

.slick-active .scroll {animation-name: scroll; animation-duration: 0.7s;}
@keyframes scroll {
    0% {opacity: 0; left:-100px;}
    30% {opacity: 0; left:-100px;}  
    100% {opacity: 1; left:50px;}
}


.slick-active img {animation-name: img; animation-duration: 1s;}
@keyframes img {
    0% {opacity: 0; right: -80px; transform: scale(0.99);} 
    100% {opacity: 1; right:0px;}
}



/*contents*/
.contents {background: #1b1b1b; padding: 120px 0; overflow: hidden;}
.contents .mainText {width: 1170px; margin: 0 auto; color: #fff; position: relative; padding-bottom: 60px; overflow: hidden;}
.contents .mainText:after {content:'”'; font-size: 300px; position: absolute; left: 0; top:50px;}
.contents .mainText:before { content: ''; width: 100px; height: 100px; border-radius: 50%; background: #ffec03; position: absolute; left: 50px; top: 130px;}
.contents .mainText h3 {font-size: 25px; font-weight: bold; line-height:1.2; float: left; width: 30%;}
.contents .mainText p { float: right; width: 70%; font-size: 25px; line-height: 1.4;}
.contents .mainText p span { display: block; margin-top: 60px; font-size: 20px;}


/*project*/
.contents .project {color: #fff;}
.contents .project .top {width: 1170px; height: 90px; margin: 130px auto 60px;}
.contents .project .top h3 {font-size: 35px; font-weight: bold; line-height: 1.3; float: left;}
.contents .project .top a { float: right; font-size: 18px; display: block;}
.contents .project .top a span { font-size: 14px; margin-left: 5px;}
.contents .project ul { clear: both; width: 98%; margin: 0 auto; overflow: hidden;}
.contents .project ul li {float: left; width: 24.2%; margin-right: 1%;}
.contents .project ul li:last-child { margin-right: 0;}
.contents .project ul li a { display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
.contents .project ul li a img { width: 100%; transition: all 1s;}
.contents .project ul li a .name { position: absolute; right: 0; bottom: 0; background: #1b1b1b; padding: 15px 15px; width: 270px; text-align: right; font-size: 22px; box-sizing: border-box;}
.contents .project ul li a .name span {font-size: 15px; font-weight: bold;}
.contents .project ul li a .name h3 {text-transform: uppercase;}

.contents .project ul li a:hover img { transform: scale(1.2); transition: all 0.5s;}



/*partner*/
.contents .partner {width: 1170px; margin: 120px auto; color: #fff;}
.contents .partner h3 {font-size: 17px; font-weight: 400;}
.contents .partner ul {overflow: hidden; }
.contents .partner ul li {float: left; width: 29%; height: 100px; margin-top: 80px; text-align: center; }
.contents .partner ul li:nth-child(1),.contents .partner ul li:nth-child(5) {width: 21%; text-align: left; }
.contents .partner ul li:nth-child(4n) {text-align: right; width: 21%; }
.contents .partner ul li img { display: inline-block; opacity: 0.4; transition: all 0.3s;}
.contents .partner ul li:hover img {opacity: 1; transition: all 0.3s;}


/*contact*/
.contents .contact {width: 100%; background: url(../img/contact.jpg)no-repeat; padding: 190px 0; background-size: 90%; background-position: left;
                    background-attachment: fixed; color: #fff; position: relative;}
.contents .contact .inner {width: 1170px; margin: 0 auto; font-size: 17px; line-height: 1.3;}
.contents .contact .inner h3 {font-weight: 400; }
.contents .contact .inner .tel {margin:50px 0; font-size: 55px; font-weight: bold;}



/*footer*/
footer { background: #1b1b1b; color: #999; padding: 0 80px 80px; position: relative;}
footer ul { overflow: hidden;}
footer ul li { float: left; width: 33.3333%;}
footer ul li:nth-child(2) { color: #eee; font-size: 16px; line-height: 2;}
footer ul li:nth-child(2) span { font-weight: bold; margin-right: 10px; color: #999;}
footer ul li:nth-child(3) {font-weight: bold;}
footer .goTop { position: absolute; right: 80px; bottom: 60px; font-size: 48px; color: #fff;}


/*반응형 태블랫1200*/
@media screen and (max-width:1200px) { /***화면(screen)**의 너비가 최대 1200px 이하일 때만 적용 (즉, 브라우저 창의 너비가 1200px, 1000px, 768px 등일 때 적용)*/
    br.mo {display: none;} /*1200px 이하에서는 이 줄 바꿈을 없애서 텍스트가 자연스럽게 이어지도록 처리*/
    .contents .mainText, .contents .project .top, .contents .partner, .contents .contact .inner {width: 90%;} /*좌우 여백(10%)을 확보하고 콘텐츠가 화면 크기에 맞춰 유동적으로 보이도록..*/
    .contents .project ul li a .name {position: relative; width: 100%; padding-bottom: 30px; font-size: 20px;}
    .contents .project ul li a .name:after { content: '⟶'; position: absolute; right: 15px; bottom: 0; font-size: 18px;}
    .contents .project ul li a:hover img {transform: scale(1);} /*1:1사이즈*/
    .contents .contact {width: 90%; background-attachment: scroll; background-position: center; background-size: cover;} /*fix - > scroll*/
    footer .goTop {right: 20px; bottom: 20px;}
}


/*1024px*/
@media screen and (max-width:1024px) {
    .visual .slide li img {width: auto; right: -30%;}
    @keyframes img {
    0% {opacity: 0; right: -50%; transform: scale(0.99);} 
    100% {opacity: 1; right:-30%;}
    }
    .visual .slide li .txt h3 {font-size: 50px;}
}


/*768px*/
@media screen and (max-width:768px) { 
    header { padding-top: 20px;}
    header.on { padding: 10px 0 0;}
    .innerHeader {padding:0 30px; height: 70px;}
    .innerHeader .logo {width: 150px; margin-right: 100px;}
    .innerHeader .introTxt {line-height: 60px;}
    .gnb {padding: 70px;}
    .gnb ul {margin-right: 60px;}
    
    .visual .slide li img {width:auto; right: -68%;}
    @keyframes img {
    0% {opacity: 0; right: -80%; transform: scale(0.99);} 
    100% {opacity: 1; right:-68%;}   
    }
    .visual .slide li .txt h3 {font-size: 40px;}
    .contents .mainText:before {width: 80px; height: 80px; top: 150px;}
    .contents .mainText:after {font-size: 280px; top: 80px;}
    .contents .project ul {width: 95%;}
    .contents .project ul li {width: 48.9%; margin-right: 2.2%;}
    .contents .project ul li:nth-child(2n) {margin-right: 0;}
    footer {padding: 0 30px 30px; }
    footer ul li{width: 50%; height: 110px;}
}

/*650px*/
@media screen and (max-width:650px){
    body {font-size: 14px; }
    .innerHeader {height: 50px; padding: 0 15px;}
    .innerHeader .logo {width: 120px; margin-right: 0;}
    .innerHeader .introTxt {line-height: 55px;}
    .innerHeader .menuOpen {color: transparent; margin-top: 10px;}
    .innerHeader .menuOpen span {color: #fff; font-size: 28px; }
    Header.on .introTxt {opacity: 0;}
    .gnb {padding: 30px; width: 70%;}
    .gnb ul li a,.gnb ul li a {font-size: 30px;}
    
    .visual .slide li img {width: auto; right:-120%;}
     @keyframes img {
    0% {opacity: 0; right: -115%; transform: scale(0.99);} 
    100% {opacity: 1; right:-120%;}   
    }
    .visual .slide li .txt h3 {font-size: 28px;}
    .visual .slide li .txt {font-size: 15px;}
    .visual .slide li .scroll {font-size: 12px; left: 0;}    
    @keyframes scroll {
    0% {opacity: 0; left:-50px;}
    30% {opacity: 0; left:-50px;}  
    100% {opacity: 1; left:0px;}
    }
    
    .slick-arrow {width: 50px; height: 50px;}
    .slick-arrow.slick-prev {bottom: 50px;}
    .contents {padding: 80px 0;}
    .contents .mainText h3 { width: 100%;}
    .contents .mainText:before {top: 80px; left: 45px;}
    .contents .mainText:after {top:40px; font-size: 220px;}
    .contents .mainText p {font-size: 20px; width: 100%; margin-top: 150px;}
    .contents .mainText p span {font-size: 18px; font-weight: 700;}
    .contents .project .top {margin: 40px auto 0px;}
    .contents .project .top h3 {font-size: 22px;}
    .contents .project .top a { font-size: 15px; margin-top: 30px;}
    .contents .project ul {width: 92%;}
    .contents .project ul li {width: 100%; margin-right: 0; margin-bottom: 35px;}
    .contents .project ul li a .name {text-align: left; padding-bottom: 0;}
    .contents .partner {margin: 80px auto;}
    .contents .partner ul li {width: 50%; text-align: center; margin-top: 25px; height: 80px; line-height: 80px;}
    .contents .partner ul li:nth-child(1), .contents .partner ul li:nth-child(5){width: 50%; text-align: center;}
    .contents .partner ul li:nth-child(4n){width: 50%; text-align: center;}
    .contents .partner ul li:nth-child(4) img {width: 44%;}
    .contents .partner ul li img {width: 60%;}
    .contents .contact {width: 100%;}
    .contents .contact .inner {font-size: 14px;}
    .contents .contact .inner .tel {font-size: 35px; margin: 30px 0;}
    footer ul li {width: 100%;}
    footer ul li:nth-child(2) {font-size: 14px;}
    footer .goTop {font-size: 32px; right: 15px; bottom: 15px;}
} 



